<ion-header>

  <ion-navbar>
    <ion-title>Images</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager="true">
    <ion-slide *ngFor="let image of images">

      <img src="{{image.url}}"
           class="image-slide"
           [class.featured]="isFeaturedImage(image.id)"
           alt="loading"
      />

      <div *ngIf="isFeaturedImage(image.id)">
        Featured Image
      </div>

      <div [hidden]="isFeaturedImage(image.id)">
        <ion-buttons>
          <button ion-button round
                  (click)="setFeaturedImage(image.id)"
                  [class.button-enabled]="!isFeaturedImage(image.id)"
          >
            Make Featured Image
          </button>
        </ion-buttons>
        <ion-buttons>
          <button ion-button round
                  (click)="removeImage(image.id)"
          >
            Remove Image
          </button>
        </ion-buttons>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
