<ion-header>
  <ion-navbar>
    <ion-title>Editing: {{location.name}}</ion-title>
    <ion-segment [(ngModel)]="editSegment" color="secondary">
      <ion-segment-button value="draft">
        Location
      </ion-segment-button>
      <ion-segment-button value="attraction">
        Puzzles
      </ion-segment-button>
      <ion-segment-button value="featured">
        Features
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="editSegment">
    <div *ngSwitchCase="'draft'">
      <ion-grid>
        <!-- Name -->
        <ion-row>
          <ion-col col-4>
            <ion-label>Name</ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-input class="value-field"
                       [(ngModel)]="location.name">
            </ion-input>
          </ion-col>
        </ion-row>

        <!-- Type -->
        <ion-row>
          <ion-col col-4>
            <ion-label>Type</ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-select class="value-field"
                        [(ngModel)]="location.locationTypeId">
              <ion-option *ngFor="let o of locTypes" [value]="o.value">
                {{o.text}}
              </ion-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <!-- Description -->
        <ion-row>
          <ion-col col-4>
            <ion-label>Description</ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-textarea class="value-field" [(ngModel)]="location.description"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Featured Image -->
      <ion-grid class="image-edit">
        <ion-row>
          <ion-col col-6>
            <ion-label>Featured Image</ion-label>
          </ion-col>
          <ion-col col-6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-buttons>
              <button class="button-inner"
                      (click)="captureImage()">
                New Image
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col col-6>
            <ion-buttons>
              <button class="button-inner">
                Choose from Gallery
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <img *ngIf="location.featuredImage"
                 src="{{location.featuredImage}}"
                 (press)="showImageActions()"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'attraction'">
      <puzzle-list [locationId]="location.id">
      </puzzle-list>
    </div>
    <div *ngSwitchCase="'featured'">Featured</div>
  </div>
  <ion-grid class="form-buttons-row">
    <ion-row>
      <ion-col col-6>
        <ion-buttons>
          <button class="button-inner">
            Cancel
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-6>
        <ion-buttons>
          <button class="button-inner"
                  (click)="save()">
            Save
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

