page-loc-type-list {

}

.category-icon {
  font-size: 36px;
  padding-right: 20px;
}

.no-category-icon {
  padding-right: 48px;
}

.blue {
  color: blue;
}

.darkgreen {
  color: darkgreen;
}

.brown {
  color: saddlebrown;
}

.orangered {
  color: orangered;
}

.grey {
  color: grey;
}

.purple {
  color: purple;
}
